.CarrouselContainer{
   display: flex;
   flex-direction: row;
   width: 100%; /* Ancho del contenedor */
   height: 100%; /* Altura del contenedor */
   overflow: hidden; /* Oculta cualquier parte de la imagen que se desborde del contenedor */
}
.ImageCarrousel{
    max-width: 100%; /* La imagen no sobrepasará el ancho del contenedor */
    height: auto; /* La altura se ajustará proporcionalmente según el ancho */
}

.buttonCarrousel{
    position: relative;
    background: beige;
    width: 100%;
}

.buttonCarrousel{
    background-color: transparent;
    width: 50px;
    border: none;
}
