.DashboardContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 500px;
  background-image: url("https://picsum.photos/id/341/2000/450");
  background-repeat: no-repeat;
  background-size: cover;
}
.AppointmentContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 500px;
  background-color: transparent;
}

.DashboardBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid #ffffffab 3px;
  padding: 100px;
  transition: 0.5s;
  color: #ffffffab;
}

.DashboardBox:hover {
  border: solid rgba(0, 0, 0, 0.075) 3px;
  padding: 90px;
  transition: 0.5s;
  cursor: pointer;
  color: #cea6b1;
}

.DashboardBox:hover .DashboardTitle .DashboardIcon {
  color: #cea6b1;
  transition: 0.5s;  
}

.AppointmentTitle{
  color: #cea6b1;
  transition: 0.5s;  
}



.DashboardIcon {
  color: white;
  margin: auto;
  width: 200px;
  font-size: 40px;
}
.AppointmentIcon{
  color: #cea6b1;
  transition: 0.5s; 
  margin: auto;
  width: 200px;
  font-size: 40px;
}



  /* iPads, tablets (481px - 768px) */
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .DashboardBox {   
    padding: 40px;
    }
    .DashboardTitle2{
      font-size: 20px;
    }
    .AppointmentTitle{
      font-size: 20px;
    }
    
    .DashboardBox:hover {
      border: solid rgba(0, 0, 0, 0.075) 3px;
      padding: 10px;     
    }

  }

  /* Dispositivos móviles (320px - 480px) */
@media screen and (max-width: 480px) {
  .DashboardBox { 
    padding: 40px;
  }
  .DashboardTitle2{
    font-size: 15px;
  }
  .AppointmentTitle{
    font-size: 15px;
  }
  
  .DashboardBox:hover {
    border: solid rgba(0, 0, 0, 0.075) 3px;
    padding: 40px;
  }

}