.homePageContainer{
    display: flex;
    flex-direction: column;

}
.head{
    display: flex;
    align-items: center;
    min-height: 200px;
    border-bottom: solid black 3px;
    box-shadow: transparent 0 0 0 3px, rgb(18 18 18 / 51%) 0 6px 20px;
    
 
}
.body{
    display: flex;
    background-color: #f2ced8;
    justify-content: center;
    height: 450px;
}
.footer{
    display: flex;
    height: 450px;
}
