.homePageContainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.head{
    display: flex;

    justify-content: space-evenly;
}
.body{
    display: flex;
    background-color: #f2ced8;
    flex: 1 1 auto;
}
.footer{
    display: flex;

    flex: 1 1 auto;
}
