.homePageContainer{
    display: flex;
    flex-direction: column;

}
.head{
    display: flex;
    align-items: center;
    min-height: 200px;
    border-bottom-style: inset;
 
}

.body{
    display: flex;
    background-color: #f2ced8;
    justify-content: center;
    height: 450px;
}
.footer{
    display: flex;
    height: 450px;
}






/* Dispositivos móviles (320px - 480px) */
@media screen and (max-width: 480px) {
    .head {
        flex-direction: column;
    }
  }
  
  /* iPads, tablets (481px - 768px) */
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .head {
        flex-direction: column;
    }
  }









  
  /* Telas pequenas, laptops (769px - 1024px) */
  @media screen and (min-width: 769px) {

  }