.whoWeAreContainer{
    padding: 2% 15%;

}

.title{
    font-family: 'Raleway', sans-serif;
    text-align: center;
       
}
.subTitle{
    font-family: 'Raleway', sans-serif;   
    text-align: center;
}
.text{
    font-family: 'Raleway', sans-serif;  
    text-align: center;

}