



/* Dispositivos móviles (320px - 480px) */
@media screen and (max-width: 480px) {
    .Navbar1{
        display: none;
    }
    .NavbarBurguer{

        display: flex;
        /* flex: 1 1 auto; */
        text-decoration: none;
        justify-content: space-evenly;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
    }
    ul{
        display: flex;
        flex-direction: column;
        text-decoration: none;    
        padding: 30px;
        color: #f2ced8; 
        list-style: none;   
        background-color: #f2ced899;     
        flex-wrap: wrap;
 
    }
    li{
        padding: 3px;
        text-decoration: none;
        margin: 10px;
    }
    .NavbarBurguerIcon{
        display: flex;
        position: absolute;
        left: 80%;
        top: 6%;
        background-color: transparent;
        border: none;
       }

  }
  
  /* iPads, tablets (481px - 768px) */
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .Navbar1{
        display: none;
    }
    .NavbarBurguer{

        display: flex;
        /* flex: 1 1 auto; */
        text-decoration: none;
        justify-content: space-evenly;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
    }
    ul{
        display: flex;
        flex-direction: column;
        text-decoration: none;    
        padding: 30px;
        color: #f2ced8; 
        list-style: none;    
        background-color: #f2ced899;    
        flex-wrap: wrap;
 
 
    }
    li{
        padding: 3px;
        text-decoration: none;
        margin: 10px;
    }
    .NavbarBurguerIcon{
     display: flex;
     position: absolute;
     left: 80%;
     top: 6%;
     background-color: transparent;
     border: none;
    }

  }









  
  /* Telas pequenas, laptops (769px - 1024px) */
  @media screen and (min-width: 769px) {

    .Navbar1{
        display: flex;
        flex: 1 1 auto;
        text-decoration: none;
        justify-content: flex-end;
    }
    ul{
        display: flex;
        text-decoration: none;    
        padding: 30px;
        color: #f2ced8; 
        list-style: none;        
        justify-content: flex-end;
        flex-wrap: wrap;
 
    }
    li{
   
        margin: 3px;
    }

    .NavbarBurguerIcon{
        display: none;
    }

    .NavbarBurguer{
        display: none;
    }

  }