.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;
    width: 800px;
    margin: 0 auto;
}

label{
    font-size: 15px;
}

.FormButtom{
    display: flex;
    justify-content: center;
}


/* Dispositivos móviles (320px - 480px) */
@media screen and (max-width: 480px) {
    .formContainer{
        width: auto;
        margin: 0 auto;
    }

  }
  
  /* iPads, tablets (481px - 768px) */
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .formContainer{
        width: auto;
        margin: 0 auto;
    }
  }
  
